footer{
    text-align: center;
    position: sticky;
    width: 100%;
    height: 5%;
    padding: 10px;
    background-color: aqua;
    clear: both;
    bottom: 0px;
    border: 0px;
}

.header{
    text-align: center;
}

.item{
    display: inline-block;
    margin: 5px;
    padding: 5px;

}

body{
    height: 85%;
    width: 100%;
    position: relative;  
}

header{
    width: 100%;
    height: 20%;
}

